extends ../../base

block append head
  link(rel="stylesheet" href="/css/components/forms.css")
  link(rel="stylesheet" href="/css/layout/user-view.css")
  link(rel="stylesheet" href="/css/pages/myreviews.css")

block content
  main.main
    .user-view
      include ../../_sidenav

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Reviews

          .myreviews-container
            if reviews.length > 0
              each review in reviews
                .review(class= review.hidden ? 'review--hidden' : '')
                  h2.review__title= review.tour.name

                  .review__info
                    .review__rating
                      strong Rating:
                      | #{' ' + review.rating} / 5

                    .review__text
                      strong Review:
                      | #{review.review}

                  .review__meta
                    p.review__date
                      strong Review Date:
                      | #{new Date(review.createdAt).toLocaleDateString('en-us', { year: 'numeric', month: 'long', day: 'numeric'})}

                  .review__buttons
                    if review.hidden
                      p.hidden-review--admin
                        | Your review has been hidden by an admin.
                    else
                      a.btn.btn--blue.btn--small(
                        href=`/tour/${review.tour.slug}/review/${review._id}/edit`
                      ) Edit
            else
              p No reviews found.
