extends base

block append head 
  link(rel="stylesheet", href="/css/pages/billing.css")
  link(rel="stylesheet", href="/css/layout/user-view.css")


mixin sideNavItem(icon, text, href, active=false)
  li(class= active ? 'side-nav--active' : '')
    a(href=href)
      svg
        use(xlink:href=`/img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      include _sidenav
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Billing

          .billing-summary
            h3 Summary 
            p Total Spent: $#{totalSpent.toFixed(2)}

          .transactions
            h2.heading-secondary.ma-bt-md Your Transactions
            if transactions.length > 0
              each transaction in transactions
                .transaction-item
                  h3.transaction-item__title= transaction.tour.name
                  .transaction-item__info
                    p Date: #{new Date(transaction.createdAt).toLocaleDateString()}
                    p Amount: $#{transaction.price.toFixed(2)} 
                    p Status: Completed
                  a.btn.btn--blue.btn--small(href=`/api/v1/billing/download-invoice/${transaction.id}`) Download Invoice
            else
              p No transactions found.

