extends base

block append head
  link(rel="stylesheet" href="/css/mytours.css")

block content
  .mytours-container
    h1.heading-secondary My Bookings
    if bookings.length > 0
      each booking in bookings.sort((a, b) => new Date(a.startDate) - new Date(b.startDate))
        .booking
          h2.booking__title= booking.tour.name
          .booking__info
            .booking__detail
              strong Purchase Date:
              | #{new Date(booking.createdAt).toLocaleDateString("en-us", { year: 'numeric', month: 'long', day: 'numeric' })}
            .booking__detail
              strong Price:
              | $#{booking.price}
            .booking__detail
              strong Start Date:
              | #{new Date(booking.startDate).toLocaleDateString("en-us", { year: 'numeric', month: 'long', day: 'numeric' })}
            .booking__detail
              strong Participants:
              | #{booking.numParticipants}
          .booking__buttons
            a.btn.btn--green.btn--small(href=`/tour/${booking.tour.slug}`) View Tour Details

            if new Date(booking.startDate) < new Date()
              // Show a 'Write a Review' button if the tour is in the past
              a.btn.btn--blue-review.btn--small(href=`/reviews/${booking.tour._id}`) Write a Review
            else
              // Let them purchase additional spots if the tour is in the future
              a.btn.btn--blue.btn--small(href=`/tour/${booking.tour.slug}/checkout`) Purchase additional spots

    else
      p.booking__detail No bookings found.
  // If there's an alertMessage passed in, we show the alert on page load
  if alertMessage
    script.
      (function() {
        const type = '#{alertType}';   // 'success' or 'error'
        const msg = '#{alertMessage}'; // e.g. 'Review posted successfully!'
        window.onload = function() {
          showAlert(type, msg, 5);     // 5 seconds is your default
        };
      })();    