extends base

mixin sideNavItem(icon, text, href, active=false)
  li(class= active ? 'side-nav--active' : '')
    a(href=href)
      svg
        use(xlink:href=`/img/icons.svg#icon-${icon}`)
      | #{text}

block append head
  link(rel="stylesheet" href="/css/mytours.css")

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +sideNavItem('settings', 'Settings', '/me')
          +sideNavItem('briefcase', 'My bookings', '/my-tours', true)
          +sideNavItem('star', 'My reviews', '/my-reviews')
          +sideNavItem('credit-card', 'Billing', '/billing')

        //- Show the admin navigation if user is admin or lead-guide
        if user.role === 'admin' || user.role === 'lead-guide'
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +sideNavItem('map', 'Manage tours', '#')

        //- Show only for admin
        if user.role === 'admin'
          ul.side-nav
            +sideNavItem('users', 'Manage users', '#')
            +sideNavItem('star', 'Manage reviews', '#')
            +sideNavItem('briefcase', 'Manage bookings', '#')
            +sideNavItem('credit-card', 'Manage refunds', '/manage-refunds')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Bookings

          .mytours-container
            if bookings.length > 0
              each booking in bookings.sort((a, b) => new Date(a.startDate) - new Date(b.startDate))
                .booking
                  .booking__header
                    h2.booking__title= booking.tour.name
                    a.btn.btn--green.btn--small(href=`/tour/${booking.tour.slug}`) Tour Details

                  .booking__info
                    .booking__detail
                      strong Purchase Date:
                      | #{new Date(booking.createdAt).toLocaleDateString("en-us", { year: 'numeric', month: 'long', day: 'numeric' })}
                    .booking__detail
                      strong Price:
                      | $#{booking.price}
                    .booking__detail
                      strong Start Date:
                      | #{new Date(booking.startDate).toLocaleDateString("en-us", { year: 'numeric', month: 'long', day: 'numeric' })}
                    .booking__detail
                      strong Participants:
                      | #{booking.numParticipants}

                  .booking__buttons
                    // Buttons aligned to the left
                    - const hasStarted = new Date(booking.startDate) < new Date()
                    if hasStarted
                      if reviewsByTour && reviewsByTour[booking.tour._id]
                        a.btn.btn--orange.btn--small(
                          href=`/tour/${booking.tour.slug}/review/${reviewsByTour[booking.tour._id]._id}/edit`
                        ) Edit Review
                      else
                        a.btn.btn--blue.btn--small(href=`/tour/${booking.tour.slug}/review`) Write a Review
                    else
                      a.btn.btn--purple.btn--small(href=`/tour/${booking.tour.slug}/checkout`) Add travelers

                    // Refund button aligned to the right of buttons
                    if !hasStarted
                      a.btn.btn--red.btn--small(href=`/api/v1/refunds/request/${booking._id}`) Request Refund
            else
              p.booking__detail No bookings found.
