extends ../../base

block append head
  link(rel="stylesheet" href="/css/pages/addTravelers.css")

block content
  main.main
    .add-travelers
      .add-travelers__content
        h2.heading-secondary.ma-bt-lg Add Travelers to Your Booking

        form.form.add-travelers__form(data-stripe-key=`${stripePublicKey}`)
          .form__group.ma-bt-md
            label.form__label(for='booking') Booking Reference
            input#booking.form__input(type='text', value=`${booking._id}`, readonly)

          .form__group.ma-bt-md
            label.form__label(for='tour') Tour
            input#tour.form__input(type='text', value=`${tour.name}`, readonly)

          .form__group.ma-bt-md
            label.form__label(for='startDate') Start Date
            - const formattedDate = new Date(booking.startDate).toISOString().split('T')[0]
            input#startDate.form__input(type='text', value=formattedDate, readonly)

          .form__group.ma-bt-md
            label.form__label(for='currentParticipants') Current Participants
            input#currentParticipants.form__input(type='number', value=`${booking.numParticipants}`, readonly)

          - const bookingDate = new Date(booking.startDate)
          - const matchingStartDate = tour.startDates.find(sd => {
          -   const tourDate = new Date(sd.date)
          -   return tourDate.toISOString().split('T')[0] === bookingDate.toISOString().split('T')[0]
          - })
          - const currentParticipants = matchingStartDate ? matchingStartDate.participants : 0
          - const availableSpots = tour.maxGroupSize - currentParticipants

          .form__group.ma-bt-md
            label.form__label(for='availableSpots') Available Spots
            input#availableSpots.form__input(type='number', value=`${availableSpots}`, readonly)

          .form__group.ma-bt-md
            label.form__label(for='numParticipants') Number of Additional Participants
            input#numParticipants.form__input(
              type='number',
              min='1',
              max=`${availableSpots}`,
              required
            )

          .form__group
            button.btn.btn--green.add-travelers-submit(
              type='submit',
              data-booking-id=`${booking._id}`,
              data-tour-id=`${tour._id}`
            ) Add Travelers