extends ../../base

block append head
  link(rel="stylesheet" href="/css/pages/booking/checkout.css")

block content
  section.section-booking
    .booking
      h2.heading-secondary Book Your Tour
      .booking__details
        img.booking__image(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
        h3.booking__title #{tour.name}
        h4.booking__sub-heading= `${tour.difficulty} ${tour.duration}-day tour`
        p.booking__text= tour.summary
        .booking__data
          svg.booking__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span= tour.startLocation.description
        .booking__data
          svg.booking__icon
            use(xlink:href='/img/icons.svg#icon-flag')
          span= `${tour.locations.length} stops`
        .booking__data
          svg.booking__icon
            use(xlink:href='/img/icons.svg#icon-user')
          span= `${tour.maxGroupSize} people max.`
        .booking__price
          if tour.priceDiscount
              .price-display
                  .price-info
                      span.original-price $#{tour.price}
                      span.discount-badge -#{tour.discountPercentage}%
                  span.final-price $#{tour.priceDiscount}
                  span.card__footer-text per person
          else
              p
                  span.card__footer-value $#{tour.price}
                  span.card__footer-text per person
        form#bookingForm(data-stripe-key=`${stripePublicKey}`)
          .form__group
            label.form__label(for="startDate") Select a start date
            select.form__input(name="startDate", id="startDate", required)
              option(value='') Select a date
              if availableStartDates && availableStartDates.length > 0
                each dateObj in availableStartDates
                  - const date = new Date(dateObj.date)
                  - const formattedDate = new Date(Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate())).toISOString()
                  option(value=formattedDate)= `${date.toLocaleDateString("en-us", {  year: 'numeric', month: 'long', day: 'numeric',timeZone: 'UTC' })} (${dateObj.availableSpots} spots left)`
              else
                option(value='') No available dates
          .form__group
            label.form__label(for="numParticipants") Number of Participants
            input.form__input(
              type="number",
              name="numParticipants",
              id="numParticipants",
              min="1",
              value="1",
              required)
          .form__group
            button.btn.btn--green(type="submit", id="bookTour", data-tour-id=`${tour._id}`) Book now