extends ../../base

block append head
  link(rel="stylesheet" href="/css/layout/adminLayouts.css")
  link(rel="stylesheet" href="/css/layout/user-view.css")
  link(rel="stylesheet" href="/css/pages/manageBookings.css")

block content
  main.main
    .user-view
      include ../../_sidenav
      
      .user-view__container
        .user-view__bookings-container.user-view__content
          h2.heading-secondary.ma-bt-md Manage Bookings
          
          // Search and Filter Section
          .booking-controls
           .booking-controls__main
             .search-box
               .form__group
                 label.form__label(for='searchBooking') Search
                 input#searchBooking.form__input(
                   type='text',
                   placeholder='Search by booking ID or user email...',
                   autocomplete='off'
                 )
             .filter-box
               .form__group
                 label.form__label(for='statusFilter') Status
                 select#statusFilter.form__input
                   option(value='') All Status
                   option(value='true') Paid
                   option(value='false') Unpaid
           .booking-controls__dates
             .form__group
               label.form__label(for='startDateFrom') Date Range
               .date-inputs
                 input#startDateFrom.form__input(
                   type='date',
                   name='startDateFrom'
                 )
                 span.date-separator to
                 input#startDateTo.form__input(
                   type='date',
                   name='startDateTo'
                 )

          // Bookings Table
          .booking-table
            table.table
              thead
                tr
                  th Booking ID
                  th User
                  th Tour
                  th Start Date
                  th Total Price
                  th Status
                  th Actions
              tbody#bookingTableBody
                // Bookings will be populated here via JavaScript
  
          // Pagination
          .pagination
            button.btn.btn--small#prevPage Previous
            span#pageInfo Page 1 of 1
            button.btn.btn--small#nextPage Next

          // Edit Booking Modal
          .modal#bookingModal
            .modal-content
              span.close-modal &times;
              h3#modalTitle Edit Booking

              // Booking Info (Non-editable)
              .booking-info
                .info-group
                  label.info-label Booking ID
                  p#bookingId.info-value
                .info-group
                  label.info-label User
                  p#bookingUser.info-value
                .info-group
                  label.info-label Tour
                  p#bookingTour.info-value

              // Edit Form
              form#bookingForm.form
                .form__group
                  label.form__label(for='startDate') Tour Start Date
                  input#startDate.form__input(type='date', required)
                .form__group
                  label.form__label(for='numParticipants') Number of Participants
                  input#numParticipants.form__input(type='number', required, min='1')
                .form__group
                  label.form__label(for='price') Total Price
                  input#price.form__input(type='number', required, step='0.01')
                .form__group
                  label.form__label(for='paid') Payment Status
                  select#paid.form__input
                    option(value='true') Paid
                    option(value='false') Unpaid
                .form__group.right
                  button.btn.btn--small.btn--green(type='submit') Save Changes