extends ../../base

block append head
  link(rel="stylesheet" href="/css/layout/adminLayouts.css")
  link(rel="stylesheet", href="/css/layout/user-view.css")
  link(rel="stylesheet" href="/css/pages/manageRefunds.css")

block content
  main.main
    .user-view
      include ../../_sidenav
      
      .user-view__container
        .user-view__content
          h2.heading-secondary.ma-bt-md Manage Refunds

          // Search and Filter Controls
          .refund-controls
            .refund-controls__main
              .search-box
                .form__group
                  label.form__label(for='search') Search
                  input#search.form__input(
                    type='text', 
                    placeholder='Search by booking ID or user...',
                    autocomplete='off'
                  )

              .filter-box
                .form__group
                  label.form__label(for='status') Status
                  select#status.form__input(name='status')
                    option(value='') All
                    option(value='pending') Pending
                    option(value='processed') Processed
                    option(value='rejected') Rejected

                .form__group
                  label.form__label(for='sort') Sort by
                  select#sort.form__input(name='sort')
                    option(value='-requestedAt') Latest First
                    option(value='requestedAt') Oldest First
                    option(value='-amount') Amount (High to Low)
                    option(value='amount') Amount (Low to High)

            .refund-controls__dates
              .form__group
                label.form__label(for='dateFrom') Date Range
                .date-inputs
                  input#dateFrom.form__input(
                    type='date', 
                    name='dateFrom'
                  )
                  span.date-separator to
                  input#dateTo.form__input(
                    type='date', 
                    name='dateTo'
                  )

          // Refunds Table
          .refund-table
            table.table
              thead
                tr
                  th 
                    span.booking-id Booking ID
                  th 
                    span.user-id User
                  th 
                    span Amount
                  th 
                    span Requested
                  th 
                    span Processed
                  th 
                    span Status
                  th Actions
              tbody#refundTableBody
                // Table content will be populated by JavaScript

          // Pagination
          .pagination
            button.btn.btn--small#prevPage(disabled) Previous
            span#pageInfo.pagination__numbers Page 1 of 1
            button.btn.btn--small#nextPage(disabled) Next

          // Refund Modal
          .refund-modal.hidden
            .refund-modal__content
              h3.heading-tertiary Manage Refund
              .refund-details
                p
                  strong Booking ID: 
                  span#modalBookingId
                p
                  strong User: 
                  span#modalUser
                p
                  strong Amount: 
                  span#modalAmount
                p
                  strong Requested Date: 
                  span#modalRequestDate

              .refund-actions
                button.btn.btn--green.btn--small#processRefundBtn Process
                button.btn.btn--red.btn--small#rejectRefundBtn Reject
                button.btn.btn--small.btn--grey#closeModalBtn Cancel